################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/cs_codes
/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
/.gitignore
/Deck - Soundboard/Base.cs
/.vs/ProjectSettings.json
/QbotDLL
/Stream Manager/StreamUpdate_TimeOut.cs
